@import '../../styles/global.mixins.scss';

.newsletter-container {
  background: #fbfbfb;
  padding: 0 25px 200px;

  @include md {
    padding: 0 25px 60px;
  }

  .newsletter {
    display: flex;
    max-width: 1140px;
    margin: 0 auto;
    padding: 52px 70px;
    background: #fff;
    border-radius: 10px;
    gap: 20px;

    @include lg {
      padding: 40px 30px;
    }

    @include md {
      flex-direction: column;
      padding: 40px 30px;
    }

    &__left {
      display: flex;
      flex-direction: column;
      width: 37%;
      transition: all .3s;

      @include md {
        width: 100%;
      }
    }
    
    &__right {
      display: flex;
      width: 63%;
      align-items: center;
      gap: 5px;      
      transition: all .3s;

      @include md {
        width: 100%;
        flex-direction: column;
        gap: 35px;
      }
    }

    &__title {
      font-size:  35px;
      font-weight: 500;
      line-height: 45px;
      color: var(--text-title);
      margin-bottom: 15px;

      @include lg {
        font-size: 30px;
        line-height: 42px;
      }
    }
    
    &__desc {      
      color: var(--text-body);
      line-height: 30px;
    }

    &__group {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }

    &__input {
      height: 60px;
      width: 316px;
      border-radius: 10px;
      border: 1px solid #000;
      padding: 15px;
      font-size: 16px;

      @include md {
        width: 100%;
      }

      &--error {
        border: 1px solid var(--red);
      }
    }

    &__alert {
      position: absolute;
      top: 110%;
      right: 0;
      width: 316px;

      @include md {
        width: 100%;
      }

      &--error {
        color: var(--red);
      }
  
      &--success {
        color: rgb(26, 187, 11);
      }
    }

    &__btn {

      @include md {
        width: 100%;
      }
  
      &:hover {
        filter: brightness(0.9);
      }
    }
  }  
}