@import '../../styles/global.mixins.scss';

.features {
  display: flex;
  max-width: 1140px;
  margin: 0 auto 135px;
  padding: 0px 25px;
  gap: 90px;

  @include md {
    gap: 30px;
    margin: 0 auto 50px;
  }

  @include sm {
    flex-direction: column-reverse;
  }

  &__left {
    width: 63%;
    display: flex;
    align-items: center;
    transition: all .3s;

    @include sm {
      width: 100%;
    }
  }

  &__right {
    width: 47%;
    transition: all .3;

    @include sm {
      width: 100%;
    }
  }

  &__img {
    object-position: 0px -25px;
    width: 100%;
  }

  &__title {
    font-size: 35px;
    font-weight: 500;
    color: var(--text-title);
    line-height: 50px;
    margin-bottom: 20px;
  }

  &__text {
    line-height: 30px;
    color: var(--text-body);
    margin-bottom: 25px;
  }

  &__itens {
    color: var(--text-body);

    ul {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }

    li {      
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  
}