footer {  
  background: var(--bg-footer);

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    padding: 70px 15px 90px;

    &__socials {
      margin: 70px 0 30px;
    }

    &__img:first-child {
      object-position: 15px;  
    }

    &__img:last-child {
      object-position: -15px
    }

    &__copyright {
      color: var(--text-footer);
    }
  }
  
}