footer {  
  background: var(--bg-footer);

  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    padding: 70px 25px 90px;

    &__socials {
      margin: 70px 0 30px;
      display: flex;
    }

    &__link {
      display: flex;
      transition: filter 0.2s;

      &:hover {
        filter: brightness(.8);
      }
    }

    &__copyright {
      color: var(--text-footer);
    }
  }  
}