@import '../../styles/global.mixins.scss';

.blog-container {

  background: #FBFBFB;

  & .slick-initialized .slick-slide {
    padding: 0 25px;

    @include sm {
      padding: 0;
    }
  }  
  
  .blog {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 185px 25px;
    justify-content: center;

    @include md {
      padding: 90px 25px 185px;
    }

    @include sm {
      padding: 90px 25px 240px;
    }

    &__title {
      font-size: 35px;
      font-weight: 500;
      color: var(--text-title);
      text-align: center;
      margin-bottom: 50px;
      background: none;
      padding: 0;
    }

    &__articles {
      height: 212px;
    }

    &__article {
      display: flex !important;
      align-items: center;
      border: 2px solid var(--border);
      border-radius: 10px;
      padding: 40px 20px;
      margin-right: 50px;
      transition: border .2s;

      &:hover {
        border-color: var(--red);
        cursor: pointer;
      }
    }

    &__img {
      margin-right: 35px;
      width: 100px;
      height: 100px;
    }

    &__content {
      display: flex;
      flex-direction: column;
    }

    &__titleArticle {
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 15px;
      color: var(--text-title);

      @include sm {
        line-height: 24px;
      }
    }

    &__descArticle {
      color: var(--text-title);
      line-height: 30px;
      height: 90px;
    }

    &__loading {
      display: flex;
      justify-content: center;
    }
  }
}