@import '../../styles/global.mixins.scss';

.info-data {
  display: flex;
  max-width: 1140px;
  height: 200px;
  margin: 100px auto 150px;
  padding: 0 25px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  transition: all .3s;

  @include md {
    height: auto;
    padding: 0 25px;
    margin: 70px auto 70px;
  }

  @include sm {
    margin: 25px auto 70px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 85%;
    height: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 80%;
    z-index: 0;
    background: #0D1025;
    opacity: 0.27;
    filter: blur(84px);
    border-radius: 10px;

    @include md {
      width: 87%;
      height: 250px;
      top: 50%;      
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    align-items: center;
    justify-items: center;
    background: #fff;
    z-index: 1;
    border-radius: 10px;

    @include md {
      grid-template-columns: 1fr;
      gap: 50px;
      padding: 35px 0;
    }
  }

  &__item {
    display: flex;
    gap: 35px;
    position: relative;
    width: 100%;
    justify-content: center;
  }

  &__item::after {
    content: "";
    position: absolute;
    height: 125px;
    width: 2px;
    top: 50%;
    left: 100%;
    background: #EEEFF2;
    border-radius: 20px;
    transform: translate(0%, -50%);

    @include md {
      width: 186px;
      height: 2px;
      top: 145%;
      left: inherit;
    }
  }

  &__item:last-child::after {
    display: none;
  }

  &__content {
    display: flex;
    flex-direction: column;

    @include md {
      width: 95px;
    }

    span:first-child {
      color: var(--text-title);
      font-size: 25px;
      font-weight: 700;
      margin-bottom: 5px;
      line-height: 2rem;
    }

    span:last-child {
      color: var(--text-body);
      font-size: 20px;
    }
  }
}
