@import '../../styles/global.mixins.scss';

.banner {
  display: flex;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0px 25px;
  align-items: center;

  @include md {
    flex-direction: column;
  }

  &__description {
    width: 45%;
    transition: all .3s;

    @include md {
      width: 100%;
    }
  }

  &__figure {
    width: 55%;
    transition: all .3s;

    @include md {
      width: 100%;
    }

    @include sm {
      display: none;
    }
  }

  &__img {
    width: 100%;
  }

  &__title {
    font-size: 2.625rem;
    font-weight: 500;
    color: var(--text-title);
    margin-bottom: 20px;
    line-height: 3.8rem;

    @include md {
      line-height: 3.3rem;
    }
  }

  &__text {
    color: var(--text-body);
    line-height: 1.9rem;
  }

  &__btn {
    margin-top: 50px;

    @include md {
      margin-bottom: 40px;
    }

    &:hover {
      filter: brightness(0.9);
    }
  }
}
